/* Styling the fonts*/
#concept {
    color: #FDFFFD;
}
#concept li {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
}
/* Styling the page*/
header {
    background-image: url('home_IMGs/IMG_9498.JPG');
    background-position: 50% 30%;
}

img {
    border-radius: 50px;
    width: 100%;
}

/*aesthetic*/
#aesthetic img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*second_row*/
#second_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: clamp(0.938rem, -0.994rem + 9.66vw, 6.25rem);
    margin-bottom: clamp(0.938rem, -0.994rem + 9.66vw, 6.25rem);
}

/*concept*/
#concept {
    text-align: center;
    z-index: -1;
    min-height: 0;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 100vw);
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: calc(50vw - 50%);
    padding-left: calc(100vw - 50%);
    background-color: #345634;
}
#top {
    margin-left: -3%;
}
#concept ul {
    list-style: none;
    padding: unset;
    margin: unset;
}
#concept li {
    margin: 0 auto;
    border-right: 2px solid #ddd;
}
#bottom {
}

@media screen and (min-width: 1220px) {
    #concept {
        margin-top: 8vh;
        margin-bottom: 8vh;
    }
}

@media screen and (min-width: 550px) and (max-width:750px) {
    #second_row {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #concept {
        grid-row: 1/2;
    }
    #concept li {
        border-left: 2px solid #ddd;
        width: 60vw;
    }
}

@media screen and (max-width: 575px) {
    #second_row {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #concept {
        grid-row: 1/2;
    }
    #concept li {
        border-left: 2px solid #ddd;
    }
}
/*transition: transform 150ms cubic-bezier(1, 0.26, 0.43, 1.02);