/* Styling the fonts*/
nav a{
    font-size: 1.5em;
    color: #e0e0e0;
    text-align: center;
}
nav a.current {
    color: lightblue;
    border-bottom:2px solid #00B0F0;
}
a:hover {
    color: #ffffff;
    font-weight: bold;
}
/* Styling the page*/
body {
    margin: unset;
}
header {
    height: 500px;
    background-size: cover;
    opacity: 80%;
}
h1 {
    display: none;
}
nav ul {
    margin: unset;
    padding-left: unset;
    padding-top: 10px;
}
nav li {
    display: inline-block;
    list-style: none;
    width: 10%;
    min-width: 90px;
    text-align: center;
}
nav a {
    text-decoration: none;
    padding: unset;
}
nav li:not(:last-child){
    border-right:2px solid #ddd;
    }
main {
    width: 1300px;
    margin: 0 auto;
}
#footerWrap {
    width: 100%;
    background-color: lightgrey;
}
footer {
    padding: 45px 0px 15px 0px;
    text-align: center;
}