/* Styling the fonts*/
nav a{
    font-size: 2em;
    color: #e0e0e0;
    text-align: center;
}
nav a.current {
    color: lightblue;
    border-bottom:2px solid #00B0F0;
}
a:hover {
    color: #ffffff;
}
#caption {
    font-size: 3.5em;
    line-height: 1em;
    text-transform: capitalize;
}
/* Styling the page*/
html {
    background-color: #fafafa;
}
body {
    margin: 0 auto;
    width: 1300px;
    background-color: beige
}
h1 {
    display: none;
}
header {
    background-image: url('home_IMGs/IMG_9498.JPG');
    height: 500px;
    background-size: cover;
    opacity: 80%;
}
nav ul {
    margin: unset;
    padding-left: unset;
    padding-top: 10px;
}
nav li {
    display: inline-block;
    list-style: none;
    width: 15%;
    min-width: 90px;
    text-align: center;
}
nav a {
    text-decoration: none;
    padding: unset;
}
nav li:not(:last-child){
    border-right:2px solid #ddd;
    }
.contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 30px 15px 30px;
}
.contents img {
    border-radius: 1%;
    margin-top: 15px;
}
#aesthetic {
    grid-column: 1/3;
    text-align: center;
}
#aesthetic img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
#caption ul {
    text-align: center;
}
footer {
    background-color: lightgray;
    padding: 45px 0px 15px 0px;
    text-align: center;
}
/*transition: transform 150ms cubic-bezier(1, 0.26, 0.43, 1.02);