/* Styling the fonts*/
/*statement*/
dt {
    font-size: 1.25em;
}
dd {
    font-size: 3em;
    font-weight: bold;
}
p{
    font-size: 1em;
}

/* Styling the page*/
/*header*/ 
header {
    background-image: url('about_IMGs/IMG_9728.jpeg');
    background-position: 30% 60%;
}

/*bio*/
#bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
}
#bio img {
    width: clamp(16.563rem, 15.131rem + 7.16vw, 20.5rem);
    height: auto;
    margin: 0 auto;
}
/*statement*/
#statement dl {
    position: relative;
    margin:unset;
    width: clamp(18.75rem, 13.068rem + 28.41vw, 34.375rem);
    margin-top: 35px;

}
#statement dt{
    position: absolute;
    top: -15px;
}
#statement dd {
    margin: unset;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    background: linear-gradient(transparent 60%, #16b5dd 60%);
}

@media screen and (min-width: 735px) and (max-width: 1050px) {
    #bio {
    gap: clamp(0.625rem, -1.33rem + 9.77vw, 6rem);
    }

    #bio img {

    }
}

@media (min-width: 390px) and (max-width:759px) {
    #bio {
        grid-template-columns: repeat(1, 1fr);
    }
}